{% extends 'bookclub/base.html' %}

{% block body %}
<h1>Add a Book</h1>

<form method="post">
    {% csrf_token %}
    <p>{{ form.title.label_tag }} {{ form.title }}</p>
    <p>{{ form.genre.label_tag }} {{ form.genre }}</p>
    <p>{{ form.author.label_tag }} {{ form.author }}</p>
    <p>{{ form.synopsis.label_tag }}<br>{{ form.synopsis }}</p>
    <p>{{ form.publication_year.label_tag }} {{ form.publication_year }}</p>
    <p>{{ form.available_to_borrow.label_tag }} <span style="vertical-align: middle;">{{ form.available_to_borrow }}</span></p>
    <button type="submit">Add Book</button>
</form>

<a href="{% url 'bookclub:book-list' %}">Back to all books</a>
{% endblock %}