<h1>Local Events</h1>

<!-- Only Event Organizers see the create button -->
{% if user.is_authenticated and user.profile.role == 'Event Organizer' %}
    <p><a href="{% url 'localevents:event-create' %}">+ Host a New Event</a></p>
{% endif %}
<hr>

<ul>
    {% for event in events %}
        <li>
            <a href="{% url 'localevents:event-detail' event.pk %}">{{ event.title }}</a> 
            ({{ event.category.name|default:"Uncategorized" }}) - {{ event.start_time }}
        </li>
    {% empty %}
        <li>No events found.</li>
    {% endfor %}
</ul>

<br>
<a href="{% url 'home' %}">Back to Home</a>